<main>
    <div class="aboutmain">
        <div class="aboutmaintext">
            <div>
                <p>WHO WE ARE</p>
                <h1>Moonbirds: an art collector’s PFP</h1>
                <p>We’re in the midst of a cultural revolution—a digital renaissance—in which art is being transformed into
                    something everyone can appreciate, own, and share. Our goal is to create unique experiences for
                    collectors to connect with artists to own and champion their art. And to have a lot of fun along the
                    way.</p>
            </div>
        </div>
        <div class="aboutmainimg">
            <img src="https://www.proof.xyz/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FMBS.2b34ed5b.png&w=640&q=75" />
        </div>
    </div>
    <div class="botmain">
        <div class="botmaintext">
            <p>MOONBIRDS NFT</p>
            <h1>Art, but also tech</h1>
            <p>Moonbirds NFTs are a 10,000 piece collection of digital avatars, created by artist and <br> PROOF co-founder Justin Mezzell. They are distributed under a creative commons (CC0)<br> licence, meaning that any and every creative can use the artwork to build their own <br> collections and products.</p>
        </div>
        <div class="botmainimg">
            <div class="botmainimg1">
                <h2>Fully "in-chain"</h2>
                <p>The pixelated art is fully on-chain (aka “in-chain”)—meaning that the images are <br> rendered directly from the Ethereum smart contracts. This unlocks a world of <br> possibilities for customization.</p>
                <img src="https://www.proof.xyz/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ftome-banner.e46cd748.png&w=2560&q=75">
            </div>
            <div class="botmainimg2">
                <h2>Custom backgrounds</h2>
                <p>Not only do we have commemorative backgrounds by Moonbirds artist, Justin <br> Mezzell, but we collab with artists like XCOPY and Des Lucréce for collectors of their <br> work.</p>
                <img src="https://www.proof.xyz/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbackgrounds%402x.3c388fc0.png&w=1280&q=75">
            </div>
        </div>
    </div>
    <div class="lastmain">
        <p>EXCLUSIVE</p>
        <h1>Holder benefits</h1>
        <div class="exclusive">
            <div class="exclusive1">
                <div class="benefits">
                    <h2>Customizable avatars</h2>
                    <p>Update your Moonbird’s appearance based on your wallet’s holdings or achievements within the PROOF ecosystem.</p>
                </div>
                <div class="benefits">
                    <h2>Community membership</h2>
                    <p>Join the Moonbirds community on Discord, on Twitter, and as a Collector on the PROOF art platform.</p>
                </div>
                <div class="benefits">
                    <h2>Digital & IRL events</h2>
                    <p>Connect with the amazing people who make up the Moonbirds community live and in-person at meetups and other events. Find the schedule on our Events page.</p>
                </div>
            </div>
            <div class="exclusive2">
                <div class="benefits">
                    <h2>Nesting rewards</h2>
                    <p>As your Moonbird nests, you’ll unlock exclusive goods to celebrate your holding time. Visit Nesting Rewards to learn more.</p>
                </div>
                <div class="benefits">
                    <h2>Art & collectible drops</h2>
                    <p>Enjoy digital drops exclusively for the Moonbirds, from Oddities and Mythics to our upcoming Diamond Exhibition.</p>
                </div>
                <div class="benefits">
                    <h2>Lunar Society membership</h2>
                    <p>Activate creative entrepreneurship with the Lunar Society; home of the Moonbirds’ and Mythics’ community builders.</p>
                </div>
            </div>
        </div>
    </div>
</main>