<main>
    <div class="profile">
        <div class="profile1">
            <img src={{currentUser.photo}}>
            <h2>{{currentUser.name + " " + currentUser.surname}}</h2>
        </div>
        <div class="profile2">
            <div>
                <h3>Name: {{currentUser.name}}</h3>
                <h3>Surname: {{currentUser.surname}}</h3>
                <h3>Login: {{currentUser.login}}</h3>
                <h3>Age: {{currentUser.age}}</h3>
                <h3>Gender: {{currentUser.gender}}</h3>
                <h3>NFTs: {{currentUser.purchasednft}}</h3>
                <h3>Purchased NFTs: {{currentUser.purchasednft.length}}</h3>
            </div>
        </div>
    </div>
</main>
