main
{
    height: 700px;
    background-color: #00C9A7;
    padding-top: 50px;
}
.profile
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 500px;
    padding-bottom: 70px;
    color:white;
    background-color: rgb(18, 25, 44);
    margin-left: 50px;
}
.profile1 img
{
    width: 200px;
    height: 180px;
    border-radius: 100%;

}
.profile1
{
  text-align: center;


}
.profile2
{
  display: flex;
  align-items: center;
  margin-left: 50px;
}