<main>
    <div class="topmain">
        <div class="contenttopmain">
            <h1>Moonbirds: an art collector’s PFP</h1>
            <p>Moonbirds are art collectors, creatives, and dreamers.<br/> Our community is a home for those seeking real connection as we all contribute to the future of web3 art, culture, and technology.</p>
            <button type="button" [routerLink]="['/catalog']">Explore collection</button>
        </div>
    </div>
    <div class="mainmain">
        <div class="container">
            <div class="cont1">
                <img src="https://www.proof.xyz/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flock%402x.79a63db9.png&w=1280&q=75">
            </div>
            <div class="cont2">
                <div>
                    <h3>DRIVEN BY COMMUNITY</h3>
                    <h1>Lunar Society</h1>
                    <p>The Lunar Society is our take on a DAO: a builders club and grant program for community members coordinated (and funded) by the PROOF team, but controlled by you. Its goals are twofold—to further the Moonbirds and Mythics brands, and to enhance the holder experience. All Moonbirds holders are automatically voting (and proposing, should you choose to be) members of the Lunar Society.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="botmain">
        <div class="botmaintext">
            <p>NOW LIVE</p>
            <h1>Moonbirds: Mythics</h1>
            <p>The official expansion of the Moonbirds ecosystem will welcome into our community a new generation of birds.</p>
        </div>
        <div class="botmainimg">
            <img src="https://www.proof.xyz/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fmythics-samples%402x.a558149e.png&w=2560&q=75"/>
        </div>
    </div>
</main>
