main
{
    height: 1200px;
    background-color:rgb(0, 201, 167);
}
.topmain
{
    height: 400px;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.5), rgba(39, 27, 60, 0.5)), url('https://www.proof.xyz/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.e47a4bdf.png&w=2560&q=75');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainmain
{
    margin-top: 50px;
}
.topmain div
{
    text-align: center;
}
.contenttopmain
{
    color: white;
}
.contenttopmain h1
{
    margin-bottom: 25px;
}
.contenttopmain p
{
    margin-bottom: 20px;
}
.contenttopmain button
{
    width: 200px;
    height: 30px;
    color:white;
    background-color: rgb(18, 25, 44);
    border: none;
    border-radius: 5px;
}
.container
{
    display: flex;
}
.cont1 img
{
    width: 300px;
    height: 300px;
}
.cont1
{

    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont2
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont2 div h3
{
    font-size: 13px;
}
.botmain
{
    margin-top: 70px;
}
.botmaintext
{

    text-align: center;
}
.botmaintext p:first-child
{
    font-size: 13px;
}
.botmainimg
{
    display: flex;
    justify-content: center;
}
.botmainimg img
{
    width: 500px;
    height: 200px;
}