<form [formGroup]="myForm" class="form" (submit)="onRegister()">
    <input type="text" placeholder="Ваше имя" formControlName="firstname">
    <input type="text" placeholder="Ваша фамилия" formControlName="lastname">
    <input type="text" placeholder="Ваш возраст" formControlName="age">
    <input type="text" placeholder="Ваш email" formControlName="email">
    <input type="text" placeholder="Ваш номер телефона" formControlName="phonenumber">
    <input type="text" placeholder="Придумайте логин" formControlName="login">
    <span>
        Строка должна начинаться с буквы (маленькой или заглавной)<br>
        После первой буквы могут следовать буквы, цифры, дефисы и подчеркивания.<br>
        Длина должна быть от 3 до 20 символов.<br>
    </span>
    <input type="password" placeholder="Придумайте пароль" formControlName="password">
    <span>
        Должна быть как минимум одна цифра<br>
        Должна быть как минимум одна строчная буква<br>
        Должна быть как минимум одна заглавная буква<br>
        Должен содержать как минимум один специальный символ<br>
        Должны присутствовать и строчные, и заглавные буквы<br>
        Длина пароля должна быть от 8 до 20 символов<br></span>
    <button type="submit" [disabled]="!myForm.valid">Register</button>
    <a routerLink='/login'>Already have an account?</a>
</form>
